*.pages
*.key
*checkpoint.ipynb
posters/AGU-2015/AGU-Poster-2015-v1.pptx
posters/AGU-2015/logo-enes.png
posters/AGU-2015/logo-es-doc.png
posters/AGU-2015/logo-ipsl.png
posters/AGU-2015/logo-mohc.jpg
posters/AGU-2015/logo-noaa-sm.jpg
posters/AGU-2015/logo-noaa.png
posters/AGU-2015/logo-nsf.png
posters/AGU-2015/logo-reading.png
posters/AGU-2015/logo-stfc-sm.jpg
posters/AGU-2015/logo-stfc.png
