*.pages
*.key
*checkpoint.ipynb
outreach/posters/AGU-2015/AGU-Poster-2015-v1.pptx
outreach/posters/AGU-2015/logo-enes.png
outreach/posters/AGU-2015/logo-es-doc.png
outreach/posters/AGU-2015/logo-ipsl.png
outreach/posters/AGU-2015/logo-mohc.jpg
outreach/posters/AGU-2015/logo-noaa-sm.jpg
outreach/posters/AGU-2015/logo-noaa.png
outreach/posters/AGU-2015/logo-nsf.png
outreach/posters/AGU-2015/logo-reading.png
outreach/posters/AGU-2015/logo-stfc-sm.jpg
outreach/posters/AGU-2015/logo-stfc.png
